<a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener noreferrer"{{ end }}>
{{ .Text | safeHTML }}
{{ if strings.HasPrefix .Destination "https://amzn.to" }}&nbsp;{{ partial "icon.html" "amazon" }}
{{ else if strings.HasPrefix .Destination "https://github" }}&nbsp;{{ partial "icon.html" "github" }}
{{ else if strings.HasPrefix .Destination "https://" }}&nbsp;{{ partial "icon.html" "external-link-alt" }}
{{ else if strings.HasPrefix .Destination "http://" }}&nbsp;{{ partial "icon.html" "external-link-alt" }}
{{ end }}
</a>