// *-blue.css
$primary:#337ab7;
$secondary:#6c757d;
$success:#28a745;
$danger:#dc3545;
$info:#17a2b8;
$warning:#ffc107;
$light:#f8f9fa;
$dark:#6c757d;

// Shared styles
@import "main.scss";

// Bootstrap
@import "./bootstrap/bootstrap";

// Shared styles overrides
@import "main2.scss";

.navbar-light { background-color: rgba(0,0,0,.03)!important; }
a.badge:hover { color: $body-bg; }
