{{ define "main" }}

<div class="container mt-3 mb-3">
    <div class="mb-3">
        <div class="card">
            <div class="card-body">
                <h1>{{ i18n .Title }}</h1>
                {{ range $key, $value := .Data.Terms }}
                    <a href="#{{ $key | urlize }}" class="badge badge-primary"><span>{{ $key }}</span> <span class="badge badge-light">{{ $value.Count }}</span></a>
                {{ end}}
            </div>
        </div>
    </div>

    {{ range $key, $value := .Data.Terms }}
        <div class="mb-3">
            <div class="card">
                        <div class="card-body">
                    <h2 id="{{ $key | urlize }}">{{ $key }}</h2>
                    <ul>
                        {{ range $value.Pages.ByDate.Reverse }}
                            <li><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                        {{ end}}
                    </ul>
                </div>
            </div>
        </div>
    {{ end}}
</div>

{{ end }}
