.navbar-light { background-color: #252627!important; }

body { background-color: #a9a9b3; }

.dropdown-menu { background-color: #252627!important; }
.dropdown-item { color: #a9a9b3!important; background-color: #252627!important; }

.page-item.active .page-link {
    color: #fff;
    background-color: #333;
    border-color: #333;
}

pre { color: #fff; }
