.navbar-light { background-color: #fff!important; }

body { background-color: #f4f4f4; }

a { border-bottom: dotted 2px rgba(160,160,160,.65); }
a:link { border-bottom: dotted 2px rgba(160,160,160,.65); }
a:visited { border-bottom: dotted 2px rgba(160,160,160,.65); }
a:hover { border-bottom: solid 2px rgba(160,160,160,.65); }
a:active { border-bottom: solid 2px rgba(160,160,160,.65); }
.navbar-light .navbar-brand { border-bottom: 0px; }
.navbar-light .navbar-brand:hover { border-bottom: 0px; } 
.navbar-light .navbar-nav .nav-link { border-bottom: 0px; }
.dropdown-menu .dropdown-item { border-bottom: 0px; }
h1 a { border-bottom: 0px; }
h1 a:link  { border-bottom: 0px; }
a.fab { border-bottom: 0px; }
a.fas { border-bottom: 0px; }
a.badge { border-bottom: 0px; }
a.page-link { border-bottom: 1px solid rgba(160,160,160,.65); }
