footer { padding: 2.5rem 0; }
blockquote { border-left: 2px solid #6c757d; padding-left: 10px; margin-top: 2rem; margin-bottom: 2rem; }

figure > img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

div.card-columns > div.card > div.card-body > h1.card-title { font-size: 1.5rem!important; }
