{{- /*
  Tags of a post. Categories are shown above the title (content_card_body.html),
  so tags that are also a category are skipped. Lists show at most three tags.
*/ -}}
{{- if ne .Type "page" -}}
    {{- $tags := complement (.Params.categories | default slice) (.Params.tags | default slice) -}}
    {{- if .Scratch.Get "showPostSummary" }}{{ $tags = first 3 $tags }}{{ end -}}
    {{- with $tags }}
<div class="card-footer card-tags">
    {{- range . }}
    <a href="{{ "/tags/" | relLangURL }}#{{ . | urlize }}">{{ . }}</a>
    {{- end }}
</div>
    {{- end -}}
{{- end -}}
