{{ $customDateFormat := "02.01.2006" }}
{{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}

<div class="card">
    {{ if .Params.images }}
        {{ $startPageColumns := .Site.Params.startPageColumns }}
        {{ $siteurl := (.RelPermalink) }}
        {{ $sitetitle := (.Title) }}
        {{ $imgname := (index (.Params.images) 0 ) }}
        {{ with .Resources.GetMatch $imgname }}
            {{ if $startPageColumns }}
                {{ $thumb := .Resize "360x" }}
                <img class="card-img-top" src="{{ $thumb.Permalink }}" alt="{{ $sitetitle }}" title="{{ $sitetitle }}">
            {{ else }}
                {{ $thumb := .Resize "800x" }}
                <img class="card-img-top" src="{{ $thumb.Permalink }}" alt="{{ $sitetitle }}" title="{{ $sitetitle }}">
            {{ end }}
        {{ end }}
    {{ end }}
    <div class="card-body">
        <h1 class="card-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        <h6 class="card-subtitle mb-2 text-muted">{{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, last updated {{ .Lastmod.Format $customDateFormat }}{{ end }} - </h6>
        
        {{ if eq .Site.Params.showPostSummary true }}
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ .Permalink }}" class="card-link">Read more</a>
        {{ else }}
            <p class="card-text">{{ .Content }}</p>
        {{ end }}

    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>
