{{ if eq .Type "video" }}
{{ else if eq .Type "audio" }}
{{ else if eq .Type "link" }}
    <p class="text-center"><a href="{{ .Params.link }}" target="_blank" class="btn btn-primary btn-lg" tabindex="-1" role="button"><i class="fas fa-link"></i>&nbsp;{{ .Title }}</a></p>
{{ else if eq .Type "quote" }}
    <blockquote class="blockquote text-center">
        <p class="mb-0"><i class="fas fa-quote-left fa-2x"></i>&nbsp;{{ .Params.quote }}&nbsp;<i class="fas fa-quote-right fa-2x"></i></p>
        <p class="blockquote-footer"><cite title="{{ .Params.quoteauthor }}">{{ .Params.quoteauthor }}</cite></p>
    </blockquote>
{{ end }}
