{{- $summary := .Scratch.Get "showPostSummary" -}}
<div class="card-body">
    {{- if and (ne .Type "page") .Params.categories }}
    <p class="card-kicker">
        {{- range $i, $c := .Params.categories -}}
            {{ if $i }}<span class="sep" aria-hidden="true"> · </span>{{ end }}<a href="{{ "/categories/" | relLangURL }}#{{ $c | urlize }}">{{ $c }}</a>
        {{- end -}}
    </p>
    {{- end }}
    <h1 class="card-title"><a href="{{ .RelPermalink }}"{{ if $summary }} class="stretched-link"{{ end }}>{{ .Title | markdownify }}</a></h1>
    {{ partial "content_card_body_subtitle.html" . }}
    {{ partial "content_card_body_extra.html" . }}
    {{ if eq .Type "video" }}
    {{ else if eq .Type "audio" }}
    {{ else if eq .Type "link" }}
        <p class="text-center"><a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg" tabindex="-1" role="button">{{ partial "icon.html" "link" }}&nbsp;{{ .Title }}</a></p>
    {{ else if eq .Type "quote" }}
        <blockquote class="blockquote text-center">
            <p class="mb-0">{{ partial "icon.html" (dict "name" "quote-left" "class" "icon-2x") }}&nbsp;{{ .Params.quote }}&nbsp;{{ partial "icon.html" (dict "name" "quote-right" "class" "icon-2x") }}</p>
            <p class="blockquote-footer"><cite title="{{ .Params.quoteauthor }}">{{ .Params.quoteauthor }}</cite></p>
        </blockquote>
    {{ end }}

    {{ if $summary }}
        <p class="card-text card-summary">{{ .Summary | plainify | htmlUnescape }}</p>
    {{ else }}
        <p class="card-text">{{ .Content }}</p>
    {{ end }}
</div>
