<div class="card-footer">
    <small class="text-muted">
        {{ if ne .Type "page" }}
            {{ if gt .Params.categories 0 }}
                <i class="fas fa-folder text-primary"></i>&nbsp;
                {{ range .Params.categories }}
                    <a href="{{ "/categories/" | relLangURL }}#{{ . | urlize }}" class="badge badge-primary"><span>{{ . }}</span></a>
                {{ end }}
                <br />
            {{ end }}
            {{ if gt .Params.tags 0 }}
                <i class="fas fa-tags text-secondary"></i>&nbsp; 
                {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}#{{ . | urlize }}" class="badge badge-secondary"><span>{{ . }}</span></a>
                {{ end }}
            {{ end }}
        {{ end }}
    </small>
</div>
