<div class="card-body">
    <h1 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1>
    {{ partial "content_card_body_subtitle.html" . }}
    {{ if eq .Type "video" }}
    {{ else if eq .Type "audio" }}
    {{ else if eq .Type "link" }}
        <p class="text-center"><a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg" tabindex="-1" role="button">{{ partial "icon.html" "link" }}&nbsp;{{ .Title }}</a></p>
    {{ else if eq .Type "quote" }}
        <blockquote class="blockquote text-center">
            <p class="mb-0">{{ partial "icon.html" (dict "name" "quote-left" "class" "icon-2x") }}&nbsp;{{ .Params.quote }}&nbsp;{{ partial "icon.html" (dict "name" "quote-right" "class" "icon-2x") }}</p>
            <p class="blockquote-footer"><cite title="{{ .Params.quoteauthor }}">{{ .Params.quoteauthor }}</cite></p>
        </blockquote>
    {{ end }}

    {{ if .Scratch.Get "showPostSummary" }}
        <p class="card-text">{{ .Summary }}</p>

        <a href="{{ .RelPermalink }}" class="card-link">{{ i18n "readmore" }}&hellip;</a>
        {{ if ne .Site.Params.hideReadingTime true }}
             ({{ partial "icon.html" "clock" }}&nbsp;~{{ .ReadingTime }} Min.)
        {{end}}
    {{ else }}
        <p class="card-text">{{ .Content }}</p>
    {{ end }}
</div>
