<footer>
    <div class="container">
        <div class="row">
            <div class="col-3 col-md">
                <h5>{{ .Site.Title }}</h5>
                &copy; {{ now.Format "2006" }} {{ range .Site.Author }}{{ . }}{{ end }}                
            </div>
            <div class="col-3 col-md">
                <h5>&nbsp;</h5>
                &nbsp;
            </div>
            <div class="col-3 col-md">
                <h5>&nbsp;</h5>
                &nbsp;
            </div>
            <div class="col-3 col-md">
                <h5>Site</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/categories/">Categories</a></li>
                    <li><a class="text-muted" href="/tags/">Tags</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>