<footer>
    <div class="container">
        <div class="row">
            <div class="col-3 col-md">
                xxx
                &copy; 2018
            </div>
            <div class="col-3 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-3 col-md">
                xxx
            </div>
            <div class="col-3 col-md">
                xxx
            </div>
        </div>
    </div>
</footer>