<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ range .Site.Author }}{{ . }}{{ end }}">
<link rel="icon" href="/favicon.ico">
<!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">-->

{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ if .Site.RSSLink }}<link rel="alternate" href="{{ .Site.RSSLink | relLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}"/>{{ end }}

{{ $themeColor := "default" }}
{{ if .Site.Params.themeColor }}
    {{ $themeColor = .Site.Params.themeColor }}
{{ end }}

{{ $cssbootstrap := resources.Get (printf "/css/bootstrap-%s.min.css" $themeColor) }}
{{ $cssfontawesome := resources.Get "/css/fontawesome-free-5.13.0-web-all.min.css" }}
{{ $cssmain := resources.Get "/css/main.css" }}
{{ $csstheme := resources.Get (printf "/css/main-%s.css" $themeColor) }}
{{ $customcss := resources.Get "/css/custom.css" }}
{{ $allcss := slice $cssbootstrap $cssfontawesome $cssmain $csstheme $customcss | resources.Concat "/css/vendor.css" | minify | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}">

{{- range .Site.Params.csscdn }}
    <link rel="stylesheet" href="{{ . }}">
{{- end }}

{{- range .Params.csscdn }}
    <link rel="stylesheet" href="{{ . }}">
{{- end }}

{{- range .Site.Params.css }}
    {{ $pagestyle := resources.Get . | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $pagestyle.RelPermalink }}" integrity="{{ $pagestyle.Data.Integrity }}">
{{- end }}

{{- range .Params.css }}
    {{ $pagestyle := resources.Get . | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $pagestyle.RelPermalink }}" integrity="{{ $pagestyle.Data.Integrity }}">
{{- end }}

<!-- allow easy customization -->
{{- partial "head_custom.html" . -}}
