{{ $alwaysExpandMenu := "" }}
{{ if and (.Site.Params.alwaysExpandMenu) (eq .Site.Params.alwaysExpandMenu true) }}
    {{ $alwaysExpandMenu = "navbar-expand-lg" }}
{{ end }}

{{ $navClasses := "navbar-light bg-white" }}
{{ if and (.Site.Params.themeColor) (eq .Site.Params.themeColor "dark") }}
    {{ $navClasses = "navbar-dark bg-dark" }}
{{ end }}

<nav class="navbar {{ $navClasses }} {{ $alwaysExpandMenu }} border-bottom" aria-label="Navigation">
    <div class="container">
        <a class="navbar-brand link-primary" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2">
                {{ $currentPage := . }}
                {{ range $index, $element := .Site.Menus.main }}
                    {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-primary" href="#" id="dropdown{{$index}}" data-bs-toggle="dropdown" aria-expanded="false">{{ .Pre }} {{ .Name }}</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                            {{ range .Children }}
                                <a class="dropdown-item link-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                            {{ end }}
                            </div>
                        </li>
                    {{ else }}
                        <li class="nav-item">
                            <a class="nav-link link-primary" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
