<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">

<title>Starter Template for Bootstrap</title>

{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ $cssbootstrap := resources.Get "/css/bootstrap.min.css" }}
{{ $cssmain := resources.Get "/css/main.css" }}
{{ $allcss := slice $cssbootstrap $cssmain | resources.Concat "/css/vendor.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $allcss.Permalink }}" integrity="{{ $allcss.Data.Integrity }}">
