{{ $jquery := resources.Get "/js/jquery-3.5.1.slim.min.js" }}
{{ $bootstrap := resources.Get "/js/bootstrap.min.js" }}
{{ $customjs := resources.Get "/js/custom.js" }}
{{ $allscript := slice $jquery $bootstrap $customjs | resources.Concat "/js/vendor.js" | minify | fingerprint "sha512" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>

{{- range .Site.Params.jscdn }}
    <script src="{{ . }}"></script>
{{- end }}

{{- range .Params.jscdn }}
    <script src="{{ . }}"></script>
{{- end }}

{{- range .Site.Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{- range .Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{ template "_internal/google_analytics_async.html" . }}
