{{ define "main" }}

<div class="container mt-3 mb-3">
    {{ $paginator := .Paginate ( where .Site.RegularPages.ByPublishDate.Reverse "Type" "!=" "page") }}
    {{ if .Site.Params.startPageColumns }}
        <div class="card-columns">
            {{ range $paginator.Pages }}
                {{- partial "content_index.html" . -}}
            {{ end }}
        </div>
    {{ else }}
        {{ range $paginator.Pages }}
            <div class="mb-3">
                {{- partial "content_index.html" . -}}
            </div>
        {{ end }}
    {{ end }}

    {{ template "_internal/pagination.html" . }}
</div>

{{ end }}
